
@using BOL;
@{
    ViewData["Title"] = "Detail with id  Page";
}

<div class="text-center">
    <h1> department details by id....</h1>
    @{
        Department dept12=ViewBag.abc ;

        <p>Product:@dept12.Name</p>
        Console.WriteLine("dept12"+dept12.Id);
       
    }
    
</div>

@{
    
}